body {  
  color: #414141;
}

p {
  font-family: Verdana, Sans-Serif;
}

ul {  
  margin: 10px;
  padding: 4px;
  width: 200px;
  list-style: none;
  outline: 1px solid #414141;
  box-shadow: 6px 10px 5px grey;
}

ul:hover {  
  background: gold;
}

.font01 {
  font-family: verdana
}

.font02 {
  font-family: helvetica
}

.font03 {
  font-family: arial
}
