body {  
  color: #2d2d2d;
  font-family: helvetica;
  font-size: 1.9rem;
}

ul {  
  margin: 18px 18px 18px 10px;
  padding: 4px;
  width: 200px;
  text-align: center;
  list-style: none;
  background: #e0edff;
  /*outline: 1px solid #414141;*/
  border-radius: 10px;
  box-shadow: 4px 6px 4px grey;
}

ul:hover {  
  background: #c1f0ff;
}

.listTitle {
  font-family: verdana;
  font-weight: bold;
  line-height: 1.6em;  
}

li {
  text-align: left;
}
