body {  
  color: #414141;
  font-family: helvetica;
  font-size: 1.1rem;
}

ul {  
  margin: 10px;
  padding: 4px;
  width: 200px;
  list-style: none;
  outline: 1px solid #414141;
  box-shadow: 6px 10px 5px grey;
}

ul:hover {  
  background: gold;
}

.listTitle {
  font-family: verdana;
  font-weight: bold;
  line-height: 1.6em;
}
